.containerNav {
  width: auto;
  margin: auto;
  padding-left: 10px;
  padding-bottom: 10px;
  /* color: white; */
  height: 60px;
  display: flex;
  justify-content: space-between;
  background-color: black;
  /* flex-direction: column; */
  /* align-items: center;
  justify-content: center; */
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 15px;
  padding: 5px;
  overflow: hidden;
  height: 60px;
  /* background-color: cyan; */
}

li {
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.2s;
}

/* li:hover {
  border-bottom: 2px solid #000;
} */
/* .bottom-right-delay:focus:before,
.bottom-right-delay:hover:before,
.nav:after,
.nav:before {
  -webkit-transition: all 1s ease 0s;
  -moz-transition: all 1s ease 0s;
  -ms-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s
}

*/

.nav,
.nav:link {
  color: #2c3e50;
  top: 0px;
  font-weight: 700;
  font-size: 1em;
  display: inline;
  position: relative;
  z-index: 2;
  text-decoration: none;
  box-sizing: border-box;
  margin-right: 41px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  transition: color 1s ease;
}

/* .effect-demo,
.nav:focus,
.nav:hover {
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  -ms-transition: color 1s ease;
  -o-transition: color 1s ease
} */

.nav:focus,
.nav:hover {
  outline: 0;
  color: #1b98e0;
  transition: color 1s ease;
  cursor: pointer;
}

.nav:after,
.nav:before {
  transition: all 1s ease 0s;
}

/* 
.effect-demo:after,
.effect-demo:before,
.nav:focus:after,
.nav:focus:before,
.nav:hover:after,
.nav:hover:before {
  -webkit-transition: all 1s ease 0s;
  -moz-transition: all 1s ease 0s;
  -ms-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s
} */

.nav:focus:after,
.nav:focus:before,
.nav:hover:after,
.nav:hover:before {
  outline: 0;
  background-color: #1b98e0;
  transition: all 1s ease 0s;
}

.nav:after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 3px;
  height: 3px;
  left: 0;
  bottom: 0;
}

.nav:focus:after,
.nav:hover:after,
.nav a:active {
  width: 100%;
  height: 3px;
}

.nav:focus {
  outline: 0;
}

.logo {
  height: 50px;
  padding-left: 15px;
  padding-top: 7px;
  vertical-align: middle;
  margin: auto;
}

.buttonMenu {
  width: 0px;
  height: 100px;
  background: red;
  transition-property: width;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}

.buttonMenu:hover {
  width: 25px;
}

.nav a:link,
.nav a:visited {
  text-decoration: none;
  color: #fff;
  top: 10px;
  font-weight: 700;
  font-size: 1em;
}