.side_container {
  display: block;
  width: 350px;
  /* background-color: yellow; */
  padding: 10px;
}
.cards {
  text-align: center;
  margin-bottom: 10px;
}
.cards span {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  margin-bottom: 10px;
}
.ava {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.vendor {
  overflow-y: scroll;
  height: 250px;
}
.delete {
  cursor: pointer;
  font-size: 20px;
}
.delete:hover {
  color: red;
}

.namaVendor {
  margin-left: 10px;
  font-size: larger;
  font-weight: bold;
}

.cartContainer {
  text-align: left;
  width: 150px;
  height: 64px;
  /* background-color: yellowgreen; */
  padding-left: 10px;
}
.cartPhotoName {
  font-size: 20px;
  font-weight: 500;
}
